.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    }

.contenedor-1{
    padding: 10px;
    border-right: 1px solid gray;
}

.contenedor-2{
    padding: 10px;
}

.msg-error{
    color: red;
    font-style: oblique;
}

.field-error{
    border-color: red;
}


@media screen and (min-width:212px) and (max-width:860px) {
    .parent {
        grid-template-columns: 1fr;
    }
}